.wrapper {
  --firstColWidth: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: var(--firstColWidth) 1fr;
  gap: var(--margin);
  padding: var(--margin) 0;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  background-color: var(--main-color);
  &:hover {
    background-color: var(--brand-blue-color);
  }
}

.title {
  display: grid;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 1000;
  font-size: 28px;
  color: var(--white-color);
  padding-right: calc(var(--firstColWidth) + var(--margin));
  margin-right: auto;
  padding-top: 10px;
}