.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1550px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: calc(var(--margin) * 2);
}

.image {
  width: 100%;
  margin-bottom: var(--margin);
  overflow: hidden;
  border-radius: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
  }
}

.leftColumn {
  margin-left: var(--margin);
}

.rightColumn {
  display: grid;
  gap: calc(var(--margin) * 2);
  align-content: start;
}

.subtitle {
  font-size: 20px;
  text-align: center;
  color: var(--white-color);
}

.session {
  margin-top: var(--margin);
  display: grid;
  gap: calc(var(--margin)/2);
}

.sessionTimesList {
  display: flex;
  grid-template-columns: repeat(auto-fit, 70px);
  gap: var(--margin);
  margin: 0 auto;
  flex-direction: row;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errorText {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 1000;
  display: flex;
  font-size: 28px;
  color: black;
  padding-right: calc(var(--firstColWidth) + var(--margin));
}

.errorButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--gray-color);
  &:hover {
    background-color: var(--brand-blue-color);
  }
}

.title {
  display: grid;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 1000;
  font-size: 28px;
  color: var(--white-color);
  padding-right: calc(var(--firstColWidth) + var(--margin));
  padding-top: 10px;
}

@media (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .leftColumn {
    margin-left: 0;
  }
}
